/* Color presets */

.text-black {
  color: rgba(51, 51, 51, 1);
}

.heading-turquise {
  color: rgba(72, 229, 194, 1);
}

.hero-heading {
  color: rgb(189, 8, 23);
}

.color-cultured {
  color: rgba(252, 250, 249, 1);
}

.color-retro {
  color: rgba(243, 211, 189, 1);
}

.color-grey {
  color: rgba(94, 94, 94, 1);
}

/* Fonts */

.heading-second {
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
}

.top-margin-50 {
  margin-top: 50px;
}


/* Positioning */

.text-center {
  text-align: center;
}

.box-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap    
}

/* Main styles */

body {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat, sans-serif ;
  background-color: rgba(72, 229, 194, 1);
}

.navigation{
  width: 100%;
  height: 5vh;
  background-color: rgba(51, 51, 51, 1);
}

.navigation-list {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  list-style: none;
}

.navigation-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(252, 250, 249, 1);
}

.navigation-item a:hover {
  color: rgba(72, 229, 194, 1);
  cursor: pointer;
}

/* Hero section */

.hero {
  background-color: rgba(72, 229, 194, 1);
  width: 90%;
  margin: auto;
  min-height: 100vh;
}

.hero-text__container {
  
}

.decide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.decide a {
  background-color: rgba(94, 94, 94, 1);
  color: rgba(252, 250, 249, 1);
  padding: 4px 20px;
  border-radius: 8px;
  text-decoration: none;
}

.decide a:hover {
  background-color: rgba(252, 250, 249, 1);
  color: rgba(94, 94, 94, 1);
}

.herobox-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap   
}

.herobox-item{
  border: 2px solid rgba(51, 51, 51, 1);
  border-radius: 8px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px rgba(51, 51, 51, .2);
  transition: transform .5;
}

.herobox-item:hover{
  transform: scale(1.05);
  transition-duration: 300ms;
  cursor: pointer;
}

.herobox-item img {
  width: 70%;
  height: auto;
}

#hero-text {
  width: 40%;
  margin: auto;
}

#hero-font {
  font-family: 'Press Start 2P', cursive;
}

.test {
  min-height: 100vh;
}

.frontend {

}

.backend {

}

.fullstack {

}

.contact {

}

