@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="back-end">
        <h2 class="hero-logotext--main TOP-MARGIN50">Back<span class="hero-logotext--sub">-end</span></h2>
        <h3 class="back-end-subheading">What does Back-End developer do?</h3>
        <p class="LEFT-MARGIN30 RIGHT-MARGIN30">So backend huh? So you are that hardcore guy after all. Well as a “backender” you will have to manage the brain of our operations here. So, if the guys from the front end think of something in a way of functionality for instance google search bar, they will send you the question the user put in and it's your job here to find the right answer. Then send it back to front end so they can do their pretty-nitty sparkling staff we don’t really care about here in backend. And yeah, you are right. You will be blamed for everything. But it’s the beauty of it, right. To be a man behind a curtain, pulling all the strings (hope you get the pun by now 😉).</p>
        <h3 class="back-end-subheading">Back-End programming languages</h3>
        <p class="LEFT-MARGIN30 RIGHT-MARGIN30">What should you know? And this is the real beauty here. You are not required to know any specific language or framework. You know, it’s really your business what you do behind the curtain. So, you have a lot more operation space here. For instead <span class="bold-text">Ruby, .NET, PHP, Python</span> or <span class="bold-text">Java</span>. <span class="bold-text">MySQL</span> or <span class="bold-text">Oracle</span> should be your best friends too. Since you have to create and work with some databases. You know. To store stuff.</p>
        <h3 class="back-end-subheading">Back-End preview</h3>
        <iframe class="back-end-preview" src="https://www.youtube.com/embed/0Kv_k4ypj6o" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="button-div">
            <button class="btn-path TOP-MARGIN10">back</button>
        </div>
    </div>