@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="front-end">
    <h2 class="hero-logotext--main TOP-MARGIN50">Front<span class="hero-logotext--sub">-end</span></h2>
    <h3 class="front-end-subheading">What does Front-End developer do?</h3>
    <p class="LEFT-MARGIN30 RIGHT-MARGIN30">Yes! Frontend! Welcome among true artists of programming. You are in the front line now. Everything you do will be viewed, loved and yeah also criticized by our custom…sorry… users. You are now responsible for THE looks man. Everything you see if you enter any site. <span class="bold-text">Colors, fonts, menus, transitions, animations</span>…and so on and on. This is your daily bread now. Be loved or hated. But its your work now to make audience satisfied.</p>
    <h3 class="front-end-subheading">Front-End programming languages</h3>
    <p class="LEFT-MARGIN30 RIGHT-MARGIN30">Palette and brushes of your masterpieces? <span class="bold-text">HTML, CSS</span> and <span class="bold-text">JavaScript</span>. A real foundation’s bricks for you. It’s also good to be able to master some frameworks like <span class="bold-text">Bootstrap, jQuery</span> or <span class="bold-text">Angular</span>.</p>
    <h3 class="front-end-subheading">Front-End preview</h3>
    <iframe class="front-end-preview" src="https://embed.plnkr.co/plunk/YuDm77crGLBUCNL7" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    <div class="button-div">
        <button class="btn-path TOP-MARGIN10">back</button>
    </div>
</div>