@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="full-stack">
        <h1 class="full-stack-heading">Full Stack</h1>
        <h3 class="full-stack-subheading">What does Full Stack developer do?</h3>
        <p class="LEFT-MARGIN30 RIGHT-MARGIN30">Ok, ok, ok. So, you want it all. Touch and do everything. I feel you. It's almost a divine feeling to be able to do anything. But be aware. More stuff to learn here. As a full stack developer, you have to know things from <span class="bold-text">both worlds</span>. So, you will be face, heart and brains. Somebody wants something on his website? It's your job to get it from scratch to a fully functional component connected to a database that looks and feels great. No pressure here. But calm down. Now, since Facebook popularized this idea back in 2010, it's really good to be a full stack developer. Because you know how it should look and also how it should work so you can be essential for performance and optimization work.</p>
        <h3 class="full-stack-subheading">Full Stack programming languages</h3>
        <p class="LEFT-MARGIN30 RIGHT-MARGIN30">Yeah, now the bummer. You want to do it all? You have to know it all. For the front end part of your job you need to know <span class="bold-text">HTML, CSS, JavaScript</span>. And for back end you need to know at least one of these. <span class="bold-text">Ruby, .NET, PHP, Python</span> or <span class="bold-text">Java</span>.</p>
        <h3 class="full-stack-subheading">Full Stack preview</h3>
        <iframe class="full-stack-preview" src="https://www.youtube.com/embed/7eX1hl8AWXA" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="button-div">
            <span class="btn-register">BACK</span>
        </div>
    </div>