@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="hero">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-wrapper-login" }))
    {
        <h2 class="hero-logotext--main TOP-MARGIN50">Login<span class="hero-logotext--sub"> form</span></h2>
        <form class="form-wrapper-login">
            <div class="form-username">
                <label for="username" class="register-name">username</label>
                <input type="text" id="username" name="Username" />
            </div>
            <div class="form-password">
                <label for="password" class="register-password">password</label>
                <input type="password" id="password" name="Password" />
            </div>
            <input class="btn-register" type="submit" value="login" />
        </form>
    }
</div>
