@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero">
    <h2 class="hero-logotext--main TOP-MARGIN50">Register<span class="hero-logotext--sub"> form</span></h2>
    <form class="form-wrapper">
        <div class="form-username">
            <label for="username" class="register-name">username</label>
            <input type="text" id="username" />
        </div>
        <div class="form-password">
            <label for="password" class="register-password">password</label>
            <input type="text" id="password" />
        </div>
        <input class="btn-register" type="submit" value="register"/>
    </form>
</div>
