@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="hero-logotext--main TOP-MARGIN50">Login<span class="hero-logotext--sub"> form</span></h2>

<div class="review-container">
    <div class="review-item">
        <div class="review-item--name">Pavla</div>
        <div class="review-item--rating"><img src="/images/jpg/star.jpg"></div>
        <div class="review-item--text">text text tesxt .sadmasd ksad kasdlk sklad jasjd jsalkdj lksajdlk j</div>
    </div>
    <button onclick="reviewform">Add your review</button>
</div>
